* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(50deg, rgb(167, 65, 239), pink, rgb(172, 83, 236));
    position: relative;
}

.logo {
    font-size: 24px;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    display: flex;
    padding: 10px 15px;
    color: white;
    /* justify-content: flex-end; */

}

nav a:hover {
    background-color: rgb(222, 188, 246);
    border-radius: 10px;
}

/* Hide checkbox */
#check {
    display: none;
}

/* Menu Icon */
.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

#icon {
    display: none;
}

/* Image Animation */
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
    font-size: 30px;
    animation: image 10s infinite;
    text-align: center;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes image {
    0% {
        background: url(./AdobeStock_1057863972_Preview.jpeg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }
    75% {
        background: url(./curly.jpeg);
        background-size: cover;
    }
    100% {
        background: url(./hairoil.jpeg);
        background-size: 100% 100%;
    }
}

/* Responsive Styling */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
        transition: left 0.3s ease-in-out;
    }

    nav a {
        display: block;
        padding: 10px;
        color: indigo;
        background-color: pink;
        margin: 8px;
        border-radius: 0 10px 0 10px;
    }

    #icon {
        display: flex;
    }

    #check:checked ~ nav {
        left: 0;
    }

    .img {
        font-size: 18px;
        padding: 20px;
        background-size: 100% 100%;
    }
}
